/* CSS for cycleTracker App */
/*
body {
  margin: 1vh 1vw;
  background-color: light-green;
}
ul,
fieldset,
legend {
  border: 1px solid;
  background-color: #fff;
}
ul {
  padding: 0;
  font-family: monospace;
}
li,
legend {
  list-style-type: none;
  padding: 0.2em 0.5em;
  background-color: #cfc;
}
li:nth-of-type(even) {
  background-color: inherit;
}*/
body {
  margin: 1vh auto auto;
  background-color: light-green;
  text-align: center;
}
ul,
fieldset,
legend {
  border: 1px solid;
  background-color: #fff;
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
fieldset legend {
  flex: 1;
  
}

ul {
  padding: 0;
  font-family: monospace;
  margin: 1vh auto auto;
}
li,
legend {
  list-style-type: none;
  padding: 0.2em 0.5em;
  background-color: #cfc;
}
li:nth-of-type(even) {
  background-color: inherit;
}


